@tailwind base;
@tailwind components;
@tailwind utilities;

#month-sub-items::-webkit-scrollbar {
   width: 2px;
   height: 10px;
}

#month-sub-items::-webkit-scrollbar-track {
   background-color: transparent;
}

#month-sub-items:hover::-webkit-scrollbar-thumb {
   border-radius: 20px;
   border: 1px solid;
   @apply border-slate-500;

   @apply bg-slate-800;
}

.input-wrapper:has(input:focus) label,
.input-wrapper:has(textarea:focus) label,
#open-options:has(input[type="text"]:focus) > label,
label.filled {
   top: -8px;
   left: 12px;

   @apply text-xs;
}
